<!DOCTYPE html>
<html>
    <head>
        <title> Ole majole </title>
        <body>
            <header>
                <h1><a href="/">Djangogirls</a></h1>
            </header>

            <article>
                <time>published: 15.10.2024, 12:25</time>
                <h2><a href="">My first post</a></h2>
                <p>
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibul
                </p>
            </article>





        </body>
    </head>
</html>